.Footer {
    margin-top: 1em;
    padding: 1em;
    padding-bottom: 3em;

    background-color: #272727;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    p {
        margin: 0;
        hyphens: auto;
    }

    .Social, .Apps {
        margin-bottom: 1.5em;

        p {
            margin-bottom: 0.5em;
        }
    }

    .Links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em 1em;

        img {
            filter: invert(0.7);
            width: 2em;
            aspect-ratio: 1/1;
            cursor: pointer;

            transition: all 0.2s ease-in-out;
            
            &:hover {
                filter: invert(1);
                scale: 1.2;
            }
        }
    }

    .Separator {
        width: 100%;
        height: 0px;
        border-bottom: 1px solid #6e7068;
        margin: 1.5em 0;
    }

    .Copyright {
        p {
            font-size: 0.7em;
            line-height: 1.5em;
        }
    }

    .Agreements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;

        margin-top: 2em;

        p {
            font-size: 0.9em;
            cursor: pointer;

            transition: all 0.2s ease-in-out;

            &:hover {
                color: var(--color-primary);
            }
        }
    }
}
