.AccountInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    img {
        width: 2em;
        aspect-ratio: 1/1;
    }

    span {
        color: var(--color-primary);
    }
}
