.AccountEditForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;

    h2 {
        margin: 0;
        margin-bottom: 1em;
        text-align: center;
    }

    .AvatarEdit {
        position: relative;

        @media (min-width: 425px) and (max-width: 790px) {
            margin: 0 20%;
        }
        
        .AvatarEditPreview {
            max-width: 14em;
            max-height: 14em;
    
            background-color: #686d5d;
            border-radius: 50%;
            flex-grow: 0;
            border: 0.15em solid var(--color-primary);
            cursor: pointer;

            img {
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }

        .AvatarEditSelect {
            position: absolute;
            top: calc(100% + 0.5em);
            top: 0;
            left: 0;
            z-index: 5;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 0.5em;

            box-sizing: border-box;
            width: 100%;
            box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
            background-color: #2d2f29;
            border-radius: 0.5em;
            padding: 1em;

            transition: all 0.2s cubic-bezier(.17,.67,1,1.33);

            &[data-opened="true"] {
                top: calc(100% + 0.5em);
            }

            &[data-opened="false"] {
                z-index: -1 ;
            }

            .AvatarWrapper {
                background-color: #686d5d;
                border-radius: 50%;
                flex-grow: 0;
                width: 1.5em;
                height: 1.5em;
                border: 0.1em solid var(--color-text);
                cursor: pointer;
        
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }

                &:hover {
                    scale: 2;
                }

                &[data-current="true"] {
                    border-color: var(--color-primary);
                }
            }
        }
    }

    .InfoEdit {
        display: flex;
        flex-direction: column;
        gap: 1em;

        flex-grow: 1;

        h2 {
            margin-bottom: 0;
        }
    }

    .PasswordEdit {
        display: flex;
        flex-direction: column;
        gap: 1em;

        flex-grow: 1;

        h2 {
            margin-bottom: 0;
        }
    }

    .FormControls {
        display: flex;
        flex-direction: row;
        justify-content: left   ;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;
    }
}

