.SignUpPage {
    margin: 10vh 0;

    .Title {
        text-align: center;
    }
    
    .FormWrapper {
        max-width: 400px;
        margin: auto;
    }
    
    .HelpText {
        text-align: center;
    
        a {
            color: var(--color-primary);
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
