.SidebarMenu {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    z-index: -10;

    background: rgba(0, 0, 0, 0.8);

    &[data-opened="true"] {
        z-index: 10;
    }

    &[data-opened="false"] {
    }

    .MenuContent {
        position: absolute;
        top: 0;
        right: 0;

        width: 75%;
        height: 100%;

        background-color: #2d2f29;

        display: flex;
        flex-direction: column;
        gap: 0.5em;

        font-size: 1.5em;

        overflow-x: scroll;

        .Header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2em;

            padding: 8px 16px 8px 1em;
        }

        & > *:nth-child(2) {
            padding-top: 0;
        }

        & > * {
            padding: 0.5em 1em;
        }
    }
}
