.SidebarMenu {
    position: fixed;
    top: 0;
    right: -100%;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    max-width: 375px;
    width: 100%;
    height: 100dvh;

    background-color: #2d2f29;
    font-size: 1.5em;

    transition: all 0.25s cubic-bezier(.84,.32,.33,.98);

    &[data-opened="true"] {
        right: 0;
    }

    &[data-opened="false"] {
    }

    .Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;

        padding: 8px 16px 8px 1em;
    }

    .Content {
        display: flex;
        flex-direction: column;
        gap: 2em;

        padding: 0.5em 1em;
        overflow-y: scroll;
        overflow-x: visible;
    }
}
