.SidebarMenu {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    max-width: 425px;
    width: 100%;
    height: 100dvh;

    background-color: #2d2f29;
    font-size: 1.5em;

    transition-delay: 0.2;
    transition: all 0.25s cubic-bezier(.84,.32,.33,.98);

    &[data-opened="true"] {
        right: 0;
    }

    &[data-opened="false"] {
    }

    .Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;

        padding: 8px 16px 8px 1em;
    }

    .Content {
        display: flex;
        flex-direction: column;
        gap: 2em;

        padding: 0.5em 1em;
        overflow-y: scroll;
        overflow-x: visible;
    }

    &[data-opened="true"]::before {
        content: '';

        position: absolute;
        top: 0;
        right: 100%;

        height: 100%;
        // width: calc(100dvw - 100%);
        width: 200dvh;

        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(1.5px);
    }
}
