.Form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    width: 100%;

    label {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    input {
        color: var(--color-text);
        background-color: #31332c;

        font-size: 1em;
        font-family: var(--font-primary);

        outline: none;
        padding: 0.5em;
        border-radius: 0.5em;

        border-color: buttonborder;
        border-image: initial;

        &[type="submit"] {
            $color: var(--color-primary);

            font-size: 1.2em;
            cursor: pointer;

            transition: all 0.2s ease-in-out;

            color: $color;
            border-color: $color;

            &:hover {
                color: white;
                background-color: $color;

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }

        &[type="reset"] {
            $color: #ff4242;

            font-size: 1.2em;
            cursor: pointer;

            transition: all 0.2s ease-in-out;

            color: $color;
            border-color: $color;

            &:hover {
                color: white;
                background-color: $color;

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    .Error {
        color: #b11b1b;
        font-size: 0.8em;
    }
}
