.PageLayout {
    position: relative;

    display: flex;
    flex-direction: column;

    max-width: 1000px;
    height: 100dvh;

    margin: auto;
    padding: 0 0 0 1em;

    .PageContainer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;

        .PageContent {
            flex-grow: 1;
        }
    }
}
