.PageLayout {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    max-width: 1000px;
    min-height: 100%;

    margin: auto;
    padding: 0 1em;

    .PageContent {
        flex-grow: 1;
        padding: 0.5em 0;
    }
}
