.AccountExpandable {
    .BasePart {
        cursor: pointer;
        user-select: none;
    }

    .ExpandablePart {
        position: absolute;
        top: 3em;
        right: 1em;

        padding: 1em;

        background-color: #2d2f29;
        border-radius: 0.5em;

        transition: all 0.2s cubic-bezier(.17,.67,1,1.33);

        &[data-expanded="true"] {
        }

        &[data-expanded="false"] {
            top: -20%
            // right: -100%;
        }
    }
}

.AccountFull {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    ul {
        gap: 0.3em;
    }
}
